<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
      <%= form_for @request do |f| %>
        <fieldset>
          <legend>説明</legend>
          <div class="form-group">
            <%= f.label :name, "タイトル", class: "col-lg-2 control-label" %>
            <div class="col-lg-10">
              <%= f.text_field :name, class: "form-control", placeholder: "タイトル" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :datetime, "日時", class: "col-lg-2 control-label" %>
            <div class="col-lg-10">
              <%= f.datetime_select :datetime, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Textarea</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" id="textArea"></textarea>
              <span class="help-block">ヘルプテキストは長くすることで1行を超えて分割されるようになります。</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <%= f.submit '送信', class: "btn btn-primary" %>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
