<div class="row">
  <div class="col-md-12">
    <div class="well bs-component">
      <%= form_for @request do |f| %>
        <fieldset>
          <legend>散歩を依頼する</legend>
          <div class="form-group row">
            <%= f.label :name, "タイトル", class: "col-md-2 control-label" %>
            <div class="col-md-4">
              <%= f.text_field :name, class: "form-control", placeholder: "タイトル" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= f.label :datetime, "日時", class: "col-md-2 control-label" %>
            <div class="col-md-4">
              <%= f.datetime_local_field :datetime, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= f.label :time, "散歩時間", class: "col-md-2 control-label" %>
            <div class="col-md-4">
              <%= f.text_field :time, class: "form-control" %>分
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :comment, "コメント", class: "col-md-2 control-label" %>
            <div class="col-md-10">
              <%= f.text_area :comment, class: "form-control" %>
            </div>
          </div>
          <br>
          <%= f.hidden_field :request_user_id, value: current_user.id %>
          <div class="form-group row">
            <div class="col-md-10 col-md-offset-2">
              <%= f.submit '送信', class: "btn btn-primary" %>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
