<div id='mypage'>
  <HR noshade>
  <div class="container">
    <div class="row ">
      <div class="my bcb col-xs-6 row panel-default" style="border-style: solid ; border-width: 1px; padding: 10px 5px 10px 20px; margin-top:20px;">
        <div class="name col-xs-8 text-center panel-body">
          <div align="left">名前 : <%= @user.name %></div>
        </div>
        <br>
        <div class="place col-xs-8 text-center panel-body">
          <div align="left">email : <%= @user.email %></div>
        </div>
        <br>
        <div class="place col-xs-8 text-center panel-body">
          <div align="left">現住所 : <%= @user.address %></div>
        </div>
        <br>
        <div class="place col-xs-8 text-center panel-body">
          <div align="left"><%= @user.profile %></div>
        </div>
      </div>
      <br>
      <div class="photo text-center col-xs-6" >
        <%= image_tag "#{@user.image}?type=large", width: "200px" %>
      </div>
    </div>
    <% @user.dogs.each do |dog| %>
      <div class="row ">
        <div class="my col-xs-6 row panel-default" style="border-style: solid ; border-width: 1px; padding: 10px 5px 10px 20px; margin-top:20px;">
          <div class="row">
            <div class="col-xs-4">
              <div align="left">名前 : <%= dog.name %></div>
            </div>
            <div class="col-xs-4">
              <div align="left">年齢 : <%= dog.age %>歳</div>
            </div>
            <div class="col-xs-4">
              <div align="left">性格 : <%= dog.dog_type.name %></div>
            </div>
            <br>
            <div class="col-xs-4">
              <div align="left">活発度 : <%= dog.active %></div>
            </div>
            <div class="col-xs-4">
              <div align="left">抜け毛度 : <%= dog.hair %></div>
            </div>
            <div class="col-xs-4">
              <div align="left">吠え度 : <%= dog.active %></div>
            </div>
            <br>
            <div class="col-xs-12">
              <div align="left">しつけ度 : <%= dog.active %></div>
            </div>
            <br>
            <div class="col-xs-i12">
              <div align="left"><%= dog.comment %></div>
            </div>
          </div>
        </div>
        <br>
        <div class="photo text-center col-xs-6" >
          <%= image_tag dog.image, alt: "#{dog.name}犬の画像", size: "150x200" %>
        </div>
      </div>
    <% end %>
      <br clear='right'>
        <div id="reqs"class="row">
          <br clear='right'><br><br ><h4>現在受け付け中のもの</h4>
          <% @requesting.each do |request| %>
            <div class="req panel panel-default">
              <div class="panel-body">
                <div class="date col-xs-2"><%= request.datetime.strftime('%Y年%m月%d日') %></div>
                <div class="time col-xs-2 "><%= request.datetime.strftime('%H時%M分') %></div>
                <div class="entry col-xs-offset-10 col-xs-2">
                  <%= link_to '申し込む', request_path(request), class: "btn btn-default" %>
                </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
